**JSON (JavaScript Object Notation) is lightweight format for storing and transporting data.**

**JSON used to create objects to send data between an application or an Applications Program Interface (API).**

----

### Read JSON from URL use pandas.read_json()

In [1]:
import pandas as pd

In [2]:
#https://github.com/mathawanup/master_dataset/blob/master/NineTemples.json
url = 'https://github.com/mathawanup/master_dataset/raw/master/NineTemples.json'
df = pd.read_json(url)
df

,belief,lat,lon,watEn,watTh
0,เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี,13.739810,100.489057,Wat Kalayanamitr,วัดกัลยาณมิตรวรมหาวิหาร
1,มีชัยชนะต่ออุปสรรคทั้งปวง,13.760404,100.493371,Wat Chana Songkhram,วัดชนะสงครามราชวรมหาวิหาร
2,ร่มเย็นเป็นสุข,13.746527,100.491105,Wat Phra Chetuphon,วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร
3,เพื่อจิตใจสะอาด ดุจรัตนตรัย,13.751502,100.490475,Temple of the Emerald Buddha,วัดพระศรีรัตนศาสดาราม
4,ชื่อเสียงโด่งดัง คนนิยมชมชอบ,13.752310,100.483130,Wat Rakhang Khositaram,วัดระฆังโฆสิตารามวรมหาวิหาร
5,วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป,13.750034,100.498670,Wat Suthat Thepwararam,วัดสุทัศนเทพวรารามราชวรมหาวิหาร
6,ชีวิตรุ่งโรจน์ทุกคืนวัน,13.743691,100.486733,Wat Arun,วัดอรุณราชวรารามราชวรมหาวิหาร
7,พบแต่สิ่งดีงามในชีวิต,13.759537,100.497773,Wat Bavorn Niwet,วัดบวรนิเวศวิหาร
8,เสริมสร้างความคิดอันเป็นสิริมงคล,13.753805,100.504475,Wat Sa Ket,วัดสระเกศราชวรมหาวิหาร

In [3]:
df.columns

Index(['belief', 'lat', 'lon', 'watEn', 'watTh'], dtype='object')

In [4]:
df = df[['watTh', 'watEn', 'lat', 'lon', 'belief']]
df

,watTh,watEn,lat,lon,belief
0,วัดกัลยาณมิตรวรมหาวิหาร,Wat Kalayanamitr,13.739810,100.489057,เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี
1,วัดชนะสงครามราชวรมหาวิหาร,Wat Chana Songkhram,13.760404,100.493371,มีชัยชนะต่ออุปสรรคทั้งปวง
2,วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร,Wat Phra Chetuphon,13.746527,100.491105,ร่มเย็นเป็นสุข
3,วัดพระศรีรัตนศาสดาราม,Temple of the Emerald Buddha,13.751502,100.490475,เพื่อจิตใจสะอาด ดุจรัตนตรัย
4,วัดระฆังโฆสิตารามวรมหาวิหาร,Wat Rakhang Khositaram,13.752310,100.483130,ชื่อเสียงโด่งดัง คนนิยมชมชอบ
5,วัดสุทัศนเทพวรารามราชวรมหาวิหาร,Wat Suthat Thepwararam,13.750034,100.498670,วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป
6,วัดอรุณราชวรารามราชวรมหาวิหาร,Wat Arun,13.743691,100.486733,ชีวิตรุ่งโรจน์ทุกคืนวัน
7,วัดบวรนิเวศวิหาร,Wat Bavorn Niwet,13.759537,100.497773,พบแต่สิ่งดีงามในชีวิต
8,วัดสระเกศราชวรมหาวิหาร,Wat Sa Ket,13.753805,100.504475,เสริมสร้างความคิดอันเป็นสิริมงคล

---

## Read JSON from URL use OrderedDict

In [5]:
from collections import OrderedDict
import json
import requests

In [6]:
url = 'https://github.com/mathawanup/master_dataset/raw/master/NineTemples.json'
r = requests.get(url)
r.text

'[{"watTh":"วัดกัลยาณมิตรวรมหาวิหาร","watEn":"Wat Kalayanamitr","lat":13.7398104,"lon":100.4890565,"belief":"เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี"},\n {"watTh":"วัดชนะสงครามราชวรมหาวิหาร","watEn":"Wat Chana Songkhram","lat":13.760404,"lon":100.4933709,"belief":"มีชัยชนะต่ออุปสรรคทั้งปวง"},\n {"watTh":"วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร","watEn":"Wat Phra Chetuphon","lat":13.7465275,"lon":100.4911048,"belief":"ร่มเย็นเป็นสุข"},\n {"watTh":"วัดพระศรีรัตนศาสดาราม","watEn":"Temple of the Emerald Buddha","lat":13.7515019,"lon":100.4904745,"belief":"เพื่อจิตใจสะอาด ดุจรัตนตรัย"},\n {"watTh":"วัดระฆังโฆสิตารามวรมหาวิหาร","watEn":"Wat Rakhang Khositaram","lat":13.7523101,"lon":100.4831296,"belief":"ชื่อเสียงโด่งดัง คนนิยมชมชอบ"},\n {"watTh":"วัดสุทัศนเทพวรารามราชวรมหาวิหาร","watEn":"Wat Suthat Thepwararam","lat":13.7500342,"lon":100.4986696,"belief":"วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป"},\n {"watTh":"วัดอรุณราชวรารามราชวรมหาวิหาร","watEn":"Wat Arun","lat":13.7436906,"lon":100.4867328,"belief":"ชีวิตรุ่งโรจน์ทุกคืนวัน"},\n {"watTh":"วัดบวรนิเวศวิหาร","watEn":"Wat Bavorn Niwet","lat":13.7595372,"lon":100.4977729,"belief":"พบแต่สิ่งดีงามในชีวิต"},\n {"watTh":"วัดสระเกศราชวรมหาวิหาร","watEn":"Wat Sa Ket","lat":13.7538052,"lon":100.5044746,"belief":"เสริมสร้างความคิดอันเป็นสิริมงคล"}\n]\n'

In [7]:
j = json.loads(r.text, object_pairs_hook=OrderedDict)
print(json.dumps(j, indent=2, sort_keys=False))

[
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e01\u0e31\u0e25\u0e22\u0e32\u0e13\u0e21\u0e34\u0e15\u0e23\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Kalayanamitr",
    "lat": 13.7398104,
    "lon": 100.4890565,
    "belief": "\u0e40\u0e14\u0e34\u0e19\u0e17\u0e32\u0e07\u0e1b\u0e25\u0e2d\u0e14\u0e20\u0e31\u0e22\u0e14\u0e35 \u0e21\u0e35\u0e21\u0e34\u0e15\u0e23\u0e44\u0e21\u0e15\u0e23\u0e35\u0e17\u0e35\u0e48\u0e14\u0e35"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e0a\u0e19\u0e30\u0e2a\u0e07\u0e04\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Chana Songkhram",
    "lat": 13.760404,
    "lon": 100.4933709,
    "belief": "\u0e21\u0e35\u0e0a\u0e31\u0e22\u0e0a\u0e19\u0e30\u0e15\u0e48\u0e2d\u0e2d\u0e38\u0e1b\u0e2a\u0e23\u0e23\u0e04\u0e17\u0e31\u0e49\u0e07\u0e1b\u0e27\u0e07"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e1e\u0e23\u0e30\u0e40\u0e0a\u0e15\u0e38\u0e1e\u0e19\u0e27\u0e34\u0e21\u0e25\u0e21\u0e31\u0e07\u0e04\u0e25\u0e32\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Phra Chetuphon",
    "lat": 13.7465275,
    "lon": 100.4911048,
    "belief": "\u0e23\u0e48\u0e21\u0e40\u0e22\u0e47\u0e19\u0e40\u0e1b\u0e47\u0e19\u0e2a\u0e38\u0e02"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e1e\u0e23\u0e30\u0e28\u0e23\u0e35\u0e23\u0e31\u0e15\u0e19\u0e28\u0e32\u0e2a\u0e14\u0e32\u0e23\u0e32\u0e21",
    "watEn": "Temple of the Emerald Buddha",
    "lat": 13.7515019,
    "lon": 100.4904745,
    "belief": "\u0e40\u0e1e\u0e37\u0e48\u0e2d\u0e08\u0e34\u0e15\u0e43\u0e08\u0e2a\u0e30\u0e2d\u0e32\u0e14 \u0e14\u0e38\u0e08\u0e23\u0e31\u0e15\u0e19\u0e15\u0e23\u0e31\u0e22"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e23\u0e30\u0e06\u0e31\u0e07\u0e42\u0e06\u0e2a\u0e34\u0e15\u0e32\u0e23\u0e32\u0e21\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Rakhang Khositaram",
    "lat": 13.7523101,
    "lon": 100.4831296,
    "belief": "\u0e0a\u0e37\u0e48\u0e2d\u0e40\u0e2a\u0e35\u0e22\u0e07\u0e42\u0e14\u0e48\u0e07\u0e14\u0e31\u0e07 \u0e04\u0e19\u0e19\u0e34\u0e22\u0e21\u0e0a\u0e21\u0e0a\u0e2d\u0e1a"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e2a\u0e38\u0e17\u0e31\u0e28\u0e19\u0e40\u0e17\u0e1e\u0e27\u0e23\u0e32\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Suthat Thepwararam",
    "lat": 13.7500342,
    "lon": 100.4986696,
    "belief": "\u0e27\u0e34\u0e2a\u0e31\u0e22\u0e17\u0e31\u0e28\u0e19\u0e4c\u0e01\u0e27\u0e49\u0e32\u0e07\u0e44\u0e01\u0e25 \u0e21\u0e35\u0e40\u0e2a\u0e19\u0e48\u0e2b\u0e4c\u0e41\u0e01\u0e48\u0e04\u0e19\u0e17\u0e31\u0e48\u0e27\u0e44\u0e1b"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e2d\u0e23\u0e38\u0e13\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e32\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Arun",
    "lat": 13.7436906,
    "lon": 100.4867328,
    "belief": "\u0e0a\u0e35\u0e27\u0e34\u0e15\u0e23\u0e38\u0e48\u0e07\u0e42\u0e23\u0e08\u0e19\u0e4c\u0e17\u0e38\u0e01\u0e04\u0e37\u0e19\u0e27\u0e31\u0e19"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e1a\u0e27\u0e23\u0e19\u0e34\u0e40\u0e27\u0e28\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Bavorn Niwet",
    "lat": 13.7595372,
    "lon": 100.4977729,
    "belief": "\u0e1e\u0e1a\u0e41\u0e15\u0e48\u0e2a\u0e34\u0e48\u0e07\u0e14\u0e35\u0e07\u0e32\u0e21\u0e43\u0e19\u0e0a\u0e35\u0e27\u0e34\u0e15"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e2a\u0e23\u0e30\u0e40\u0e01\u0e28\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Sa Ket",
    "lat": 13.7538052,
    "lon": 100.5044746,
    "belief": "\u0e40\u0e2a\u0e23\u0e34\u0e21\u0e2a\u0e23\u0e49\u0e32\u0e07\u0e04\u0e27\u0e32\u0e21\u0e04\u0e34\u0e14\u0e2d\u0e31\u0e19\u0e40\u0e1b\u0e47\u0e19\u0e2a\u0e34\u0e23\u0e34\u0e21\u0e07\u0e04\u0e25"
  }
]

In [8]:
df = pd.DataFrame(j)
df

,watTh,watEn,lat,lon,belief
0,วัดกัลยาณมิตรวรมหาวิหาร,Wat Kalayanamitr,13.739810,100.489057,เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี
1,วัดชนะสงครามราชวรมหาวิหาร,Wat Chana Songkhram,13.760404,100.493371,มีชัยชนะต่ออุปสรรคทั้งปวง
2,วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร,Wat Phra Chetuphon,13.746527,100.491105,ร่มเย็นเป็นสุข
3,วัดพระศรีรัตนศาสดาราม,Temple of the Emerald Buddha,13.751502,100.490475,เพื่อจิตใจสะอาด ดุจรัตนตรัย
4,วัดระฆังโฆสิตารามวรมหาวิหาร,Wat Rakhang Khositaram,13.752310,100.483130,ชื่อเสียงโด่งดัง คนนิยมชมชอบ
5,วัดสุทัศนเทพวรารามราชวรมหาวิหาร,Wat Suthat Thepwararam,13.750034,100.498670,วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป
6,วัดอรุณราชวรารามราชวรมหาวิหาร,Wat Arun,13.743691,100.486733,ชีวิตรุ่งโรจน์ทุกคืนวัน
7,วัดบวรนิเวศวิหาร,Wat Bavorn Niwet,13.759537,100.497773,พบแต่สิ่งดีงามในชีวิต
8,วัดสระเกศราชวรมหาวิหาร,Wat Sa Ket,13.753805,100.504475,เสริมสร้างความคิดอันเป็นสิริมงคล

---

## Read JSON from REST API (Applications Program Interface )

In [1]:
# COVID-19 API  
# https://corona.lmao.ninja/docs/

In [2]:
import pandas as pd
import numpy as np
import requests

### Get global COVID-19 totals

In [3]:
url='https://disease.sh/v3/covid-19/all'
r=requests.get(url)
j=r.json()

In [4]:
type(j)

dict

In [5]:
j['cases']

73215642

In [6]:
j['todayCases']

34118

In [7]:
j['updated'] #Unix Timestamp  13 หลัก

1608019198223

In [8]:
type(j['updated'])# 13 หลัก

int

In [9]:
#https://www.epochconverter.com/ #เว็บเปลี่ยน timestamp เป็นวันเวลา

In [10]:
j['updated'] // 1000

1608019198

In [11]:
pd.datetime.fromtimestamp(j['updated'] // 1000).strftime('%Y-%m-%d %H:%M:%S') #เอาออก 3 หลัก

'2020-12-15 14:59:58'

### Get COVID-19 totals for country

In [12]:
url='https://disease.sh/v3/covid-19/countries'
r=requests.get(url)
j=r.json()

In [13]:
df=pd.DataFrame(j)
df

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
0,1608019798800,Afghanistan,"{'_id': 4, 'iso2': 'AF', 'iso3': 'AFG', 'lat':...",49703,219,2001,26,38500,90,9202,...,170855,4345,39321605,Asia,791,19651,230,234.02,979.11,2.37
1,1608019798801,Albania,"{'_id': 8, 'iso2': 'AL', 'iso3': 'ALB', 'lat':...",49191,0,1016,0,24820,0,23355,...,219385,76272,2876358,Europe,58,2831,13,8119.64,8628.97,13.56
2,1608019798702,Algeria,"{'_id': 12, 'iso2': 'DZ', 'iso3': 'DZA', 'lat'...",92597,0,2609,0,60888,0,29100,...,0,0,44207699,Africa,477,16944,0,658.26,1377.32,1.04
3,1608019799003,Andorra,"{'_id': 20, 'iso2': 'AD', 'iso3': 'AND', 'lat'...",7382,0,79,0,6706,0,597,...,173151,2239379,77321,Europe,10,979,0,7721.06,86729.35,219.86
4,1608019798830,Angola,"{'_id': 24, 'iso2': 'AO', 'iso3': 'AGO', 'lat'...",16277,0,372,0,8924,0,6981,...,171247,5139,33321141,Africa,2047,89573,195,209.51,267.82,0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,1608019799518,Wallis and Futuna,"{'_id': 876, 'iso2': 'WF', 'iso3': 'WLF', 'lat...",3,0,0,0,1,0,2,...,1149,103068,11148,Australia/Oceania,3716,0,10,179.40,89.70,0.00
216,1608019799513,Western Sahara,"{'_id': 732, 'iso2': 'EH', 'iso3': 'ESH', 'lat...",10,0,1,0,8,0,1,...,0,0,603914,Africa,60391,603914,0,1.66,13.25,0.00
217,1608019799315,Yemen,"{'_id': 887, 'iso2': 'YE', 'iso3': 'YEM', 'lat...",2084,0,606,0,1384,0,94,...,17404,578,30120759,Asia,14453,49704,1731,3.12,45.95,0.76
218,1608019798823,Zambia,"{'_id': 894, 'iso2': 'ZM', 'iso3': 'ZMB', 'lat...",18322,0,367,0,17409,0,546,...,489926,26321,18613709,Africa,1016,50719,38,29.33,935.28,0.00
219,1608019798908,Zimbabwe,"{'_id': 716, 'iso2': 'ZW', 'iso3': 'ZWE', 'lat...",11358,0,309,0,9554,0,1495,...,190996,12767,14960685,Africa,1317,48416,78,99.93,638.61,0.00

In [14]:
df[df.country=='Thailand']
#Italy USA

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
198,1608019799289,Thailand,"{'_id': 764, 'iso2': 'TH', 'iso3': 'THA', 'lat...",4246,9,60,0,3949,9,237,...,1217873,17428,69879930,Asia,16458,1164666,57,3.39,56.51,0.01

In [15]:
# country='italy'
country='thailand'

url=f'https://disease.sh/v3/covid-19/countries/{country}'
r=requests.get(url)
j=r.json()
j

{'updated': 1608019799289,
 'country': 'Thailand',
 'countryInfo': {'_id': 764,
  'iso2': 'TH',
  'iso3': 'THA',
  'lat': 15,
  'long': 100,
  'flag': 'https://disease.sh/assets/img/flags/th.png'},
 'cases': 4246,
 'todayCases': 9,
 'deaths': 60,
 'todayDeaths': 0,
 'recovered': 3949,
 'todayRecovered': 9,
 'active': 237,
 'critical': 1,
 'casesPerOneMillion': 61,
 'deathsPerOneMillion': 0.9,
 'tests': 1217873,
 'testsPerOneMillion': 17428,
 'population': 69879930,
 'continent': 'Asia',
 'oneCasePerPeople': 16458,
 'oneDeathPerPeople': 1164666,
 'oneTestPerPeople': 57,
 'activePerOneMillion': 3.39,
 'recoveredPerOneMillion': 56.51,
 'criticalPerOneMillion': 0.01}

In [16]:
j['cases']

4246

In [17]:
j['casesPerOneMillion']

61

In [29]:
df=pd.DataFrame(j)
df

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
_id,1607423908519,Thailand,764,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01
flag,1607423908519,Thailand,https://disease.sh/assets/img/flags/th.png,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01
iso2,1607423908519,Thailand,TH,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01
iso3,1607423908519,Thailand,THA,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01
lat,1607423908519,Thailand,15,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01
long,1607423908519,Thailand,100,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01

In [ ]:
df.to_csv('covid19_latest.csv', index=False)

In [ ]:
df.to_excel('covid19_latest.xlsx', index=False)